.side-menu {
  height: 2.9375rem;

  .menu-item {
    display: flex;
    align-items: center;
    gap: 0.88rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ddd;
    }

    &.active {
      background-color: var(--text-color);
    }
  }
}
