:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #27272a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color: #a1a1aa;
  --font-size-regular: 0.875rem;
  --font-size-small: 0.625rem;
  --background-color-main: #202124;
  --hover-background-button-color: #414144;
  --delete-button-color: #df4444;
}

body {
  margin: 0;
  padding: 0;
}
